# Dependencies
node_modules/
server/node_modules/
mobile/node_modules/

# Production Builds
dist/
build/
server/dist/
.expo/
mobile/.expo/

# Environment Variables
.env
server/.env
mobile/.env
!.env.example
!server/.env.example

# Databases & Sessions
server/prisma/*.db
server/prisma/*.db-journal
server/sessions/
sessions/

# Logs & System
*.log
.DS_Store
Thumbs.db
